/* diamond.css */

/**
 * Injects onto the chat page to style the watermark.
 */
img.diamondchat {
	bottom: 70px;
	position: fixed;
	opacity: 0.12;
	left: 163px;
	z-index: 100;
	pointer-events: none;
}

/**
 * Injects onto the page behind the text input.
 */
img.diamondtextbox {
	position: absolute;
    top: 14px;
    width: 50px;
    opacity: 0.3;
    left: 327px;
    pointer-events: none;
}

/**
 * Styling for a text-based diamond.
 */
p.diamondtextbox {
	position: absolute;
	top: -2px;
	font-size: 60px;
	left: 335px;
	opacity: 0.43;
	pointer-events: none;
	color: #d3d3d3;
}